<div class="container">
  <h1 class="title">webproject index works</h1>
  <% @webprojects.each do |project| %>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"> <%= link_to project.name, project %> </p>
          </div>
          <div class="content">
            <p> <%= project.description %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
